<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kli.dao.GoodsDao" >
 
<!-- goods table all fields -->
<sql id="Select_Column_List">
			goods_id AS "goodsId",
 				goods_name AS "goodsName",
 				goods_count AS "goodsCount",
 				goods_code AS "goodsCode"
	</sql>      
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
		<if test="goodsId != null and goodsId != ''" >
	    and goods_id =  #{goodsId}
	</if>
		<if test="goodsName != null and goodsName != ''" >
	    and goods_name =  #{goodsName}
	</if>
		<if test="goodsCount != null and goodsCount != ''" >
	    and goods_count =  #{goodsCount}
	</if>
		<if test="goodsCode != null and goodsCode != ''" >
	    and goods_code =  #{goodsCode}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="insert" keyProperty="goodsId"  useGeneratedKeys="true">
  insert into goods(goods_id,goods_name,goods_count,goods_code)
 values(#{goodsId},#{goodsName},#{goodsCount},#{goodsCode})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" >
  update goods set goods_name=#{goodsName},goods_count=#{goodsCount},goods_code=#{goodsCode} where goods_id=#{goodsId}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective">
	update goods set 
	<trim  suffixOverrides="," >
	<if test="goodsName != null ">
		goods_name=#{goodsName},
	</if>
	<if test="goodsCount != null ">
		goods_count=#{goodsCount},
	</if>
	<if test="goodsCode != null ">
		goods_code=#{goodsCode},
	</if>
	</trim> where goods_id=#{goodsId}
</update>

<!-- 根据主键删除记录 -->
<delete id="delete">
	delete from goods
 where goods_id = #{goodsId}
</delete>


<select id="get" resultType="Goods">
		select <include refid="Select_Column_List" /> 
	 from goods where goods_id = #{goodsId}
</select>

<!-- 璁㈠崟鍟嗗搧 列表总数-->
<select id="getTotal" resultType="java.lang.Integer" >
	select count(1) from goods 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询璁㈠崟鍟嗗搧列表 -->
	<select id="findList" resultType="Goods">
		SELECT
		<include refid="Select_Column_List" />
		FROM goods
		<include refid="Example_Where_Clause" />
		<if test="page !=null and page.orderBy != null and page.orderBy != ''">
		ORDER BY ${page.orderBy}
		</if>
	</select>
	
	<select id="findAllList" resultType="Goods">
		select * from goods
		<if test="page !=null and page.orderBy != null and page.orderBy != ''">
		ORDER BY ${page.orderBy}
		</if>
	</select>
  	
</mapper>   
